.form-box{
  max-width: 600px;
  display: flex;
  flex: 1 auto;
	flex-direction: column;
	padding: 20px 40px;
  border-radius: 10px;
  margin: 5px;
  box-shadow: 0px 10px 50px rgb(155, 153, 153);
	background-color: rgba(255, 255, 255, 0.829);
}

h1{
  text-align: center;
  width: auto;
  text-transform: uppercase;
  font-weight: lighter;
}

h3{
  width: auto;
  text-transform: uppercase;
  font-weight: lighter;
}

form{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
}

.fields-parent{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.fields-name{
  display: flex;
  flex-direction: row;
}

.input-name-last-name{
  width: 80%;
}

.input-diagnostic{
  width: 90%;
}

section{
  display: flex;
  margin: 5px;
  padding: 5px;
  flex-direction: row;
  text-align: justify;
  flex-wrap: wrap;
}

article{
  flex:1;
  margin: 5px;
}

